:root {
    --header-back-color: rgb(60, 60, 60);
    --header-font-family: 'Big Shoulders Display', Times New Roman, serif;
    --border-radius: 5px;
    --body-back-color: rgb(187, 187, 184);
    --main-font-family: 'Anonymous Pro', Times New Roman, serif;
}